.submit{
width: 100px;
height: 30px;
background-color: blue;
color: white;
}
input{
    display: block;
width: 250px;
height: 30px;
}
.checkbox,
.radio{
    width: auto;
    display: inline;
    height: auto;
}
.p{
color: coral;
}
.youtube{
color: red;
text-decoration: none;
font-size: 40px;
}


html{
    scroll-behavior: smooth;
}
